* {
  box-sizing: border-box;
}

body {
  align-items: center;
  display: flex;
  flex-direction: column;
  font: 100%/1 system-ui;
  gap: 1rem;
  height: 100vh;
  justify-content: center;
  margin: 0;
  font-size: 18px;
  overflow: hidden;
}

button {
  appearance: none;
  border: none;
  border-radius: 0.5rem;
  background: black;
  color: white;
  font: inherit;
  line-height: inherit;
  padding: 1rem 1.5rem;
  cursor: pointer;
}

a {
  color: #007aff;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

.hidden {
  display: none;
}
